DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api
DJANGO_TIME_ZONE=Europe/Paris
RIOT_KEY=
API_GUNICORN_WORKERS=2
RIOT_IMPORT_CACHE_MAX_SIZE=1000
API_MEM_LIMIT=768m
API_MEM_RESERVATION=512m
IMPORT_WORKER_MEM_LIMIT=512m
IMPORT_WORKER_MEM_RESERVATION=256m
FRONTEND_MEM_LIMIT=256m
FRONTEND_MEM_RESERVATION=128m
